
#contactInfoForm {
    padding: 5% 0;
    background-color: grey;
    width: 80%;
    margin: 3.5% auto;
    border-radius: 10px;
}

.errorScript {
  font-size: 10px;
  color: red;
  visibility: hidden;
  display: block;
}

.throwError {
  visibility: visible;
}

.blockLayout {
  display: block;
  margin: auto;
}
