@import url("https://fonts.googleapis.com/css?family=Roboto");
.App {
  background-color: #F1F2F3; }
  .App header {
    background-color: #1066B5;
    color: white;
    text-align: center;
    font-family: "Roboto", serif;
    padding: 2.5% 0;
    font-size: .95em; }
